<section class="view index">

<div class="container" style="margin-top: 30px">
  <div class="header" style="font-size: 20px">
    <div class="col-md-3 no-padding">
      Admitted Patients: <b> {{model.patientData.length}}</b>
    </div>
    <div class="col-md-3 no-padding">
      Incoming Surgeries: <b> 25</b>
    </div>
    <div class="col-md-3 no-padding">
      Requests: <b> 10</b>
    </div>
    <div class="pull-right">
      <span class="text-primary"><i class="glyphicon glyphicon-user"></i> Welcome, John</span>
    </div>
  </div>

  <div class="col-md-6" style="padding-left: 0px">
    <table class="table table-hover dashboard-table">
      <thead class="bg-navy">
        <td></td>
        <td class="text-white">Current Tasks</td>
        <td></td>
        <td></td>
      </thead>
      <tbody>
        <tr class="bg-grey-navy">
          <td></td><td>Task</td><td>Location</td><td></td>
        </tr>
        {{#each model.taskData as |task|}}
          <tr>
            <td><i class="glyphicon glyphicon-user"></i></td>
            <td> {{task.taskname}} on {{task.patientname}} </td>
            <td> {{task.location}} </td>
            <td>
              <div class="btn btn-primary">
                Fulfill
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover dashboard-table">
      <thead class="bg-navy">
        <td></td>
        <td class="text-white">Patient List</td>
        <td class="no-padding-top-bottom" colspan="4">
         <input type="text" class="form-control search-box" placeholder="Search for a patient...">
        </td>
      </thead>
      <tbody>
        <tr class="bg-grey-navy">
            <td></td><td>Name</td><td>Sex (Age)</td><td>ID</td><td>Location</td><td></td>
          </tr>
        {{#each model.patientData as |patient|}}
          <tr data-toggle="collapse" data-target="#accordion" class="clickable">
            <td><i class="glyphicon glyphicon-user"></i></td>
            <td> {{patient.name}}</td>
            <td> {{patient.gender}} ({{patient.age}})</td>
            <td> {{patient.location}} </td>
            <td>
              <div class="btn btn-primary">
                Fulfill
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
              <td>
                  <div id="accordion" class="collapse">Hidden expandable</div>
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
</section>