<section class="view index">

  <div class="view-top-bar">
    <h1 class="view-current-title">What would you like to do?</h1>



<!-- CSS styles for standard search box with placeholder text-->
<style type="text/css">
	.smallsearch{
	height: 34px;
	}
</style>

<form class = "form-inline" style = "margin-top: 15px;">
    <div class="form-group ">
		<label> search inventory: </label>
        < input placeholder="Search" class="form-control smallsearch" >
	</div>
    <button type="button" class="btn btn-default  "><span class="glyphicon glyphicon-search"></span></button>
   	{{#link-to 'inventory.batch' 'new' class="btn btn-primary "}}
   	+ inventory received
   	{{/link-to}}
</form>

    <nav class="navbar navbar-default red-bar-header dash-header">
      <div class="navbar-header">
        <div class="navbar-brand">Urgent Items</div>
      </div>
    </nav>
    <table class="table">
       <tr class="table-header">
         <th>Name</th>
         <th>Quantity Needed</th>
         <th>Consumption Rate</th>
         <th>Delivery Location</th>
         <th>Date Requested</th>
       </tr>
       {{#each mockRequests as |request|}}
        {{#if request.isUrgent }}
         <tr>
           <td>{{request.name}}</td>
           <td>{{request.quantity}}</td>
           <td>{{request.consumption_rate}}</td>
           <td>{{request.location}}</td>
           <td>{{request.date}}</td>
         </tr>
        {{/if}}
       {{/each}}
    </table>


    <nav class="navbar navbar-default dash-header">
      <div class="navbar-header danger" style="width:95%;">
        <div class="navbar-brand">Low Quantity</div>

          <span class="view-sub-bar">
              <span class="view-action-buttons" style="float: right">
                  <span class ="dropdown">
                      <button class="btn btn-primary dropdown-toggle space-buttons" type="button" data-toggle="dropdown">Sort By
                          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#">Name</a></li>
                          <li><a href="#">Date of Request</a></li>
                          <li><a href="#">Type of Medication</a></li>
                      </ul>
                      <button class="btn btn-primary space-buttons" data-ember-action="1473">+ new request</button>
                  </span>
              </span>
          </span>

      </div>
    </nav>

    <table class="table">
       <tr class="table-header">
         <th>Name</th>
         <th>Quantity</th>
         <th>Expiry Date</th>

       </tr>
       {{#each mockInventory as |inventory|}}
        {{#if (gt 10 inventory.quantity) }}
         <tr>
           <td>{{inventory.inventoryItem.name}}</td>
           <td>{{inventory.quantity}}</td>
           <td>{{inventory.expiry_date}}</td>
         </tr>
        {{/if}}
       {{/each}}
    </table>

    <nav class="navbar navbar-default dash-header">
      <div class="navbar-header danger" style ="width: 95%;">
        <div class="navbar-brand">All Requests</div>
          <span class="view-sub-bar">
              <span class="view-action-buttons" style="float: right">
                  <span class ="dropdown">
                      <button class="btn btn-primary dropdown-toggle space-buttons" type="button" data-toggle="dropdown">Sort By
                          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#">Name</a></li>
                          <li><a href="#">Date of Request</a></li>
                          <li><a href="#">Type of Medication</a></li>
                      </ul>
                      <button class="btn btn-primary space-buttons" data-ember-action="1473">+ new request</button>
                  </span>
              </span>
          </span>
      </div>
    </nav>
    <table class="table">
       <tr class="table-header">
         <th>Name</th>
         <th>Quantity Needed</th>
         <th>Consumption Rate</th>
         <th>Delivery Location</th>
         <th>Date Requested</th>
       </tr>
       {{#each mockRequests as |request|}}
         <tr>
           <td>{{request.name}}</td>
           <td>{{request.quantity}}</td>
           <td>{{request.consumption_rate}}</td>
           <td>{{request.location}}</td>
           <td>{{request.date}}</td>
         </tr>
       {{/each}}
    </table>

  </div>

</section>
